.footer {
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  /* .container {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  } */